dateparser==0.3.4
decorator==4.0.6
diff-match-patch==20121119
Django==1.9.1
django-bootstrap-form==3.2
django-queryset-csv==0.3.3
ecdsa==0.13
gnureadline==6.3.3
jdatetime==1.7.4
Jinja2==2.8
MarkupSafe==0.23
paramiko==1.16.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==8.2.0
ptyprocess==0.5
pycrypto==2.6.1
python-dateutil==2.4.2
pytz==2016.3
PyYAML==3.11
redis==2.10.5
regex==2016.4.8
simplegeneric==0.8.1
six==1.10.0
tablib==0.11.2
traitlets==4.1.0
umalqurra==0.2
prettyconf==1.2.3
