<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="reports/templates/base/base.css">
    {% endblock %}
</head>
<body>
    <div class="top-left"><img src="reports/static/img/consejeria.png"></img></div>
    <div class="top-right"><img src="reports/static/img/chapi.jpg"></img></div>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
