{% extends "app/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="section-title">
                <i class="fa fa-calendar-o"></i> Agenda/Horarios
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-info">10:15-10:30</span>
                    Acto de apertura
                </li>
                <li class="list-group-item">
                    <span class="label label-info">10:30-10:50</span>
                    <mark>Joan Carles Pérez Vázquez</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    Qué hay detrás de la FP informática en el Institut Obert de Catalunya (IOC).
                </li>
                <li class="list-group-item">
                    <span class="label label-info">10:50-11:30</span>
                    <mark>Rafael Ángel Ascanio Perera</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    Proyecto Enlaza del IES El Rincón 2DAM-Tarde - Integración de Módulos y Evaluación por proyectos.
                </li>
                <li class="list-group-item">
                    <span class="label label-info">11:30-12:10</span>
                    <mark>Javier Santana</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    Nuevo Modelo de Servicios Digitales del gobierno de Canarias. La perspectiva digital en los servicios del Gobierno de Canarias.
                </li>
                <li class="list-group-item">
                    <span class="label label-info">12:10-13:00</span>
                    <mark>David Vargas</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    Los ángeles caídos.
                </li>
                <li class="list-group-item">
                    <span class="label label-info">13:00-14:30</span>
                    Descanso para comer.
                </li>
                <li class="list-group-item">
                    <span class="label label-info">14:30-15:30</span>
                    <mark>Álvaro Marcos Rodríguez Pestano</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    Desarrollo de Aplicaciones en la Nube.
                </li>
                <li class="list-group-item">
                    <span class="label label-info">15:30-16:10</span>
                    <mark>Wilme</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    Pendiente.
                </li>
                <li class="list-group-item">
                    <span class="label label-info">16:10-17:00</span>
                    <mark>Albérica García</mark>
                    <i class="fa fa-chevron-circle-right"></i>
                    ¿Los ángeles tienen sexo?
                </li>
                <li class="list-group-item">
                    <span class="label label-info">17:00-17:15</span>
                    ¡Sorpresa!
                </li>
                <li class="list-group-item">
                    <span class="label label-info">17:15-17:30</span>
                    Acto de clausura.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
