{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <p>
                <i class="thumbnail-panel fa fa-laptop"></i>
                Como profesores de Informática somos conscientes de la importancia de una <strong>formación continua en el tiempo</strong>, adaptada y orientada a las necesidades de la realidad laboral. De esta necesidad  surge CHAPI.
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="thumbnail-panel fa fa-coffee"></i>
                CHAPI es un evento de un día al estilo de <strong>"píldoras formativas"</strong>, donde podremos participar como oyentes y/o ponentes a charlas con diferente temática orientada al profesor de informática.
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="thumbnail-panel fa fa-graduation-cap"></i>
                    Está invitado a participar todo el <strong>profesorado que imparte clases de informática</strong>. Para participar como oyente/ponente debes rellenar un formulario para que podamos organizar el evento.
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <i class="thumbnail-panel fa fa-paper-plane-o"></i>
                El tema de cada charla la elige el ponente, pero teniendo como objetivo final que <strong>sirva de ayuda/información al profesor de informática</strong>. La duración de cada charla será variable y dependerá de cada ponente, con un mínimo de 10 minutos y un máximo de 2 horas.
            </p>
        </div>
    </div>

    <div class="row register-section">
        <div class="col-md-offset-4 col-md-4">
            <a href="/register/" role="button" class="btn btn-lg btn-primary btn-block"><i class="fa fa-star-o fa-spin"></i> Regístrate!</a>
        </div>
    </div>

{% endblock %}
