{% extends "app/base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="section-title">
            <i class="fa fa-map-marker"></i> Localización
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!4v1544555290388!6m8!1m7!1s8okuTy6RYClJr_VgBsRRxg!2m2!1d28.45611314455368!2d-16.28360959563884!3f118.92687583938033!4f-5.769319232058223!5f0.7820865974627469" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}
